.loadingBox {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50%;
    animation:SlideDown 0.5s linear forwards;
    border-radius: 6px;
}
/* 加载框下滑动 */
@keyframes SlideDown {
    30% {
        top: 1%;
        transform: translate3d(-50%, -1%, 0);
    }
    60% {
        top: 2%;
        transform: translate3d(-50%, -2%, 0);
    }
    100% {
        top: 2%;
        transform: translate3d(-50%, -2%, 0);
    }
}

.loadImg {
    width: 18px;
    display: block;
    padding-right: 10px;
}

.modal > div {
    z-index: 1;
}
.modal > div > div{
    z-index: 10000;
}

.modal-header{
    display: flex;
    font-size: 16px;
}

.modal-header-title{
    flex:1
}

.modal .ant-divider-horizontal{
    margin: 16px 0 !important;
}

.modal-bottom{
    float: right;
}
